@media (max-width: 839px) {
    #carousel {
      width: 80%;
    }
    .about-div {
      text-align: center;
      width: 80%;
    }
    #continue-to-portfolio-div {
      width: 80%;
    }
}
@media (min-width: 840px) and (max-width: 1250px) {
  #carousel {
    width: 30%;
  }
  .about-div {
    text-align: center;
    width: 70%;
  }
  #continue-to-portfolio-div {
    width: 70%;
  }
}
@media (min-width: 1251px) {
  #carousel {
    width: 30%;
    width: 370px;
  }
  .about-div {
    text-align: center;
    width: 60%;
  }
  #continue-to-portfolio-div {
    width: 60%;
  }
}
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
  }
  #carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 150px;
  }
  
  .carousel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    margin-top: 10px;
    max-width: 90%;
  }
  
  .carousel-item img {
    border-radius: 50%;
    height: 90%;
    margin: 0px 5px;
  }
  
  .carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100px;
    opacity: 0.5;
    transition: opacity 0.5s ease, height 0.5s ease;
  }
  
  .carousel-center {
    height: 140px;
    flex: 2;
    opacity: 1;
  }
  
  .carousel-left::after,
  .carousel-right::after {
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), transparent);
  }
  
  .carousel-right::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.5), transparent);
  }
  .about-div .text-regular, .text-bold {
    text-align: justify;
  }
  .timeline p {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #783add 0%, #bb37d6 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: black;
  
    &:before {
      content: counter(section);
      position: absolute;
      border-radius: 50%;
      padding: 10px;
      height: 1.25em;
      width: 1.25em;
      background-color: black;
      text-align: center;
      line-height: 1.25em;
      color: white;
      font-size: 1em;
    }
  }
  
  .timeline p:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
  
    &:before {
      left: 100%;
      margin-left: -20px;
    }
  }
  
  .timeline p:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
  
    &:before {
      right: 100%;
      margin-right: -20px;
    }
  }
  
  .timeline p:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  
  .timeline p:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  #continue-to-portfolio-div {
    display: flex;
    justify-content: end;
  }