<div class="container">
    <div id="carousel">
      <div
        *ngFor="let image of carouselImages; let i = index"
        [ngClass]="{
          'carousel-left': (i === (currentIndex - 1 + carouselImages.length) % carouselImages.length),
          'carousel-center': i === currentIndex,
          'carousel-right': (i === (currentIndex + 1) % carouselImages.length)
        }"
        class="carousel-item"
      >
        <img [src]="image.source" class="carousel-img" />
      </div>
    </div>

    <!-- About me -->
    <div class="about-div">
      <p class="title title-regular">About me</p>
      <p class="text-bold mg-bottom-5">
        I am Victor Gallegos, a 24 year old software developer from Monterrey,
        Mexico.
      </p>
      <p class="text-regular mg-top-5">
        I'm a dedicated Software Engineering student, doing my last semester at
        the Facultad de Ingeniería Mecánica y Eléctrica at UANL. My focus is on
        Web Development, and I’m passionate about creating user-friendly and
        beautiful web applications.
      </p>
      <p class="text-regular mg-top-5">
        You can <a class="pointer" (click)="popup.togglePopup()">download my resume here.</a>
      </p>
      <app-popup #popup></app-popup>
    </div>

    <!-- My Timeline -->
  <div class="about-div">
    <p class="title title-regular no-mg">My timeline</p>
    <p class="text-regular mg-top-5">
      Currently, I’m enhancing my skills in Web Development using Angular at
      Epicor. My problem-solving abilities drive me to unravel complex
      challenges. I maintain a continuous learning mindset, constantly exploring
      new skills through tutorials and courses. As an assertive communicator, I
      bridge the gap between developers and other people or teams, ensuring
      clarity in meetings and presentations. My eye for design extends beyond
      functionality, I obsess over pixel-perfect layouts, intuitive navigation,
      and delightful user experiences.
    </p>
    <p class="text-regular mg-top-5">
      During my time at the university, I was the president of a student group
      for 20 months. As the president, I’ve coordinated social and cultural
      events, fostering community integration. I had a job where I was promoted
      to Operational and Administrative Supervisor in a movie theater company. I
      faced unique challenges during the COVID-19 pandemic. Despite the
      uncertainty and constantly changing circumstances, I honed my crisis
      management abilities. I learned to adapt swiftly to new guidelines,
      implement safety protocols, and maintain operational efficiency while
      prioritizing the well-being of both staff and customers. These experiences
      strengthened my leadership skills and fostered a deeper understanding of
      teamwork and empathy. I’m ready to make meaningful contributions in
      dynamic environments.
    </p>
    <p class="title title-regular pd-top-20 mg-bottom-5">
      Here is the timeline of my life, highlighting the most important events in
      10 steps.
    </p>
  </div>
  <div class="about-div timeline">
    <p class="text-regular mg-top-5">
      I was born in 2000 in Monterrey, Nuevo León, a vibrant city that has
      shaped much of who I am today. Growing up in this dynamic environment
      instilled in me a love for technology and innovation.
    </p>
    <p class="text-regular mg-top-5">
      In 2017, I embarked on my academic journey in “Software Technologies
      Engineering” at the Facultad de Ingeniería Mecánica y Eléctrica, UANL.
      This period marked the beginning of my deep dive into the world of
      software development, where I honed my technical skills and developed a
      strong foundation in engineering principles.
    </p>
    <p class="text-regular mg-top-5">
      My professional journey began in 2019 when I took my first job at a
      cinema. This experience taught me the importance of customer service,
      teamwork, and the value of hard work. It was a pivotal moment that
      introduced me to the professional world and helped me develop essential
      soft skills.
    </p>
    <p class="text-regular mg-top-5">
      The years 2020 and 2021 were challenging due to the COVID-19 pandemic. The
      sudden shift to online learning posed significant difficulties as the
      school was not fully prepared for it. This period taught me resilience and
      adaptability, as I had to adjust my academic load and find new ways to
      stay motivated and engaged with my studies.
    </p>
    <p class="text-regular mg-top-5">
      In 2020, I was promoted to operational supervisor at my job. This role,
      especially during the pandemic, presented unique challenges that required
      me to implement strategies to ensure the safety and well-being of both
      employees and customers. This experience significantly enhanced my
      leadership and crisis management skills, which are invaluable in any
      professional setting.
    </p>
    <p class="text-regular mg-top-5">
      In 2022, I took on leadership roles in two different groups at my
      university. As the secretary of image and media in the student society, I
      led a team responsible for filming and photographing events, maintaining
      an excellent public image for the society, and spreading the word about
      the events we organized. This role sharpened my organizational and
      creative skills. Later, I was appointed vice president of a student
      organization with over 200 members, further developing my leadership and
      communication abilities.
    </p>
    <p class="text-regular mg-top-5">
      In 2023, I was promoted to president of my student organization. This role
      allowed me to refine my leadership skills, manage larger teams, and
      coordinate more complex projects, preparing me for future professional
      challenges.
    </p>
    <p class="text-regular mg-top-5">
      In 2024, I started my internship at Epicor, where I learned Angular in
      just three weeks and began working on a project with my team. This
      experience enhanced my technical skills and taught me the importance of
      teamwork and continuous learning in a professional environment.
    </p>
    <p class="text-regular mg-top-5">
      Also in 2024, I concluded my role as president of my student group to
      focus entirely on my future as a developer. This decision marked a
      significant step towards my professional goals, allowing me to dedicate
      more time to my career development.
    </p>
    <p class="text-regular mg-top-5">
      Additionally, in 2024, I enrolled in a bootcamp to become a fullstack web
      developer. Here, I am learning Node, React, PostgreSQL, APIs, Web3, and
      DApps. This intensive training is equipping me with a comprehensive skill
      set that will be crucial for my future as a developer.
    </p>
    <br><br>
  </div>

  <!-- My interest -->
  <div class="about-div">
    <p class="title title-regular mg-top-20 mg-bottom-10">My interests</p>
    <p class="text-regular mg-top-5">
      Beyond my professional pursuits, I have a diverse range of interests that
      keep me engaged and inspired. Soccer is a significant passion of mine; I
      enjoy both playing and watching the game, appreciating the strategy and
      teamwork involved. Photography and video filming and editing are creative
      outlets that allow me to capture and share moments in unique ways. I find
      joy in crafting visually compelling stories through these mediums.
    </p>
    <p class="text-regular mg-top-5">
      Traveling is another interest that fuels my curiosity and desire to
      explore. I love visiting new places, immersing myself in different
      cultures, and meeting new people. Each journey offers fresh perspectives
      and experiences that enrich my understanding of the world.
    </p>
  </div>
  <div id="continue-to-portfolio-div">
    <button class="primary-button">Go to Portfolio</button>
  </div>
  <div class="footer mg-top-20"></div>
</div>