@media (max-width: 839px) {
    #navbar {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    
}
@media (min-width: 840px) and (max-width: 1250px) {
    #navbar {
        flex-direction: row;
        justify-content: space-between;

        box-sizing: border-box;
        padding: 0px 100px;
        width: 100%;
    }
    .navbar-tabs-div{
        max-width: 50%;
    }
}
@media (min-width: 1251px) {
    #navbar {
        flex-direction: row;
        justify-content: space-between;

        box-sizing: border-box;
        padding: 0px 200px;
        width: 100%;
    }
    .navbar-tabs-div{
        max-width: 50%;
    }
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#navbar {
    display: flex;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);

    position: fixed;
    top: 0;
    height: 100px;
    transition: height 0.3s ease, transform 0.3s ease;
    max-width: 1550px;
    z-index: 1;
}
.navbar-tabs-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 5px 0px;
}

.navbar-tabs-div div {
    margin: 0px 10px;
}

.navbar-tabs-div a {
    text-decoration: none;
}