<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />

    <title>Victor Gallegos</title>
  </head>
  <body>
    <nav>
      <div id="navbar">
        <div id="navbar-logo-div" class="pointer">
          <p class="title logo-regular no-mg">VG</p>
        </div>
        <div class="navbar-tabs-div">
          <div>
            <a href="/" class="tab-regular">HOME</a>
          </div>
          <div>
            <a href="/about" class="tab-regular">ABOUT</a>
          </div>
          <div>
            <a href="/portfolio" class="tab-regular">PORTFOLIO</a>
          </div>
          <div>
            <a href="/contact" class="tab-regular">CONTACT</a>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
