<div class="container">
    <div id="main-presentation">
        <div class="presentation">
            <img src="public/images/Profile-circular.webp" alt="Profile"/>
            <div class="title-div">
                <p class="title-regular">
                    I´m Victor, a Web Developer at
                    <span class="gradient-text">Epicor.</span> I enjoy creating user-centric
                    and delightful experiences.
                </p>
            </div>
            <div class="profile-photo-div">
            </div>
        </div>
    </div>
</div>
