<div class="container">
    <section id="main-presentation">
        <div class="presentation">
            <div class="profile-photo-div">
                <img id="presentation-profile-photo" src="/images/Profile-circular.webp" alt="Profile"/>
            </div>
            <div class="title-div">
                <p class="title-regular">
                    I´m Victor, a Web Developer at
                    <span class="gradient-text">Epicor.</span> I enjoy creating user-centric
                    and delightful experiences.
                </p>
            </div>
        </div>
    </section>
    <section class="">

    </section>
</div>
